<div class="row justify-content-center">
    <div class="col-auto">
        <img class="d-block mx-auto" src="images/logo.jpg" width="500px" height="500px">
    </div>
</div>

<div class="row mt-4 gx-3">

    <div class="col-md-6">
        <div class="border border-dark rounded-3 p-5 mb-3" role="button" routerLink="razredi">
            <h3 class="display-6 text-center"><i class="bi bi-book-half"></i> Pregled razreda</h3>
        </div>
    </div>

    <div class="col-md-6">
        <div class="border border-dark rounded-3 p-5 mb-3" role="button" routerLink="odeljenja">
            <h3 class="display-6 text-center"><i class="bi bi-book-half"></i> Pregled odeljenja</h3>
        </div>
    </div>

    <div class="col-md-6">
        <div class="border border-dark rounded-3 p-5 mb-3" role="button" routerLink="dodajRazred">
            <h3 class="display-6 text-center"><i class="bi bi-pencil-square"></i> Unos razreda</h3>
        </div>
    </div>

    <div class="col-md-6">
        <div class="border border-dark rounded-3 p-5 mb-3" role="button" routerLink="dodajRazred">
            <h3 class="display-6 text-center"><i class="bi bi-door-open"></i> Prijava</h3>
        </div>
    </div>

</div>