@if (routeID == null) {
    <h1 class="display-5 text-center">Unos odeljenja</h1>
}
@else {
    <h1 class="display-5 text-center">Izmena odeljenja</h1>
}

<div  class="mt-5 border border-dark rounded-3 p-3">
    
    <!-- Reaktivna forma za unos novog razreda ili izmenu, selectovi su stavke iz sifrarnika -->
    <form [formGroup]="dodajOdeljenjeForma" (ngSubmit)="odeljenjeSubmit()">
        <!-- Red 1 -->
        <div class="row mb-1">

            <div class="col-md-4">  
                <!-- Prikazuje Id razreda ili id odeljena u zavisnosti da li je dodavanje ili izmena -->
                @if (routeID != null) {
                    <label for="id" class="form-label">ID:</label>
                    <input id="id" type="text" class="form-control" formControlName="id">
                }
                @else if (razredID != null) {
                    <label for="razredId" class="form-label">ID razreda:</label>
                    <input id="razredId" type="text" class="form-control" formControlName="razredId">
                }
            </div>
            
            <div class="col-md-4">
                <label for="program" class="form-label">Program:</label>
                <input id="program" formControlName="program" type="text" class="form-control">
            </div>

            <div class="col-md-4">
                <label for="ukupnoUcenika" class="form-label">Ukupno učenika:</label>
                <input id="ukupnoUcenika" type="text" class="form-control" formControlName="ukupnoUcenika">   
            </div>
        </div>
        
        <!-- Red 2 -->
        <div class="row mb-1">
            <div class="col-md-4">
                <label for="skolskaGodina" class="form-label">Školska godina:</label>
                <input id="skolskaGodina" formControlName="skolskaGodina" type="text" class="form-control">
            </div>
            
            <div class="col-md-4">
                <label for="vrstaOdeljenja" class="form-label">Vrsta odeljenja:</label>
                <select id="vrstaOdeljenja" formControlName="vrstaOdeljenja" class="form-control"> 
                    @for(vrstaOdeljenja of vrsteOdeljenja; track $index) {
                        <option [value]="vrstaOdeljenja.id">{{vrstaOdeljenja.naziv}}</option>
                    }
                </select>
            </div>

            <div class="col-md-4">
                <label for="brojUcenika" class="form-label">Broj Učenika:</label>
                <input id="brojUcenika" type="text" class="form-control" formControlName="brojUcenika">   
            </div>
        </div>
        
        <!-- Red 3 -->
        <div class="row mb-1">

            <div class="col-md-4">
                <label for="razred" class="form-label">Razred:</label>
                <input id="razred" formControlName="razred" type="text" class="form-control">
            </div>
            
            <div class="col-md-4">
                <div class="d-flex flex-column">
                    <label class="form-check-label mb-3">Smena:</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="smena" id="prvaSmena" value="prva">
                            <label class="form-check-label" for="prvaSmena">Prva</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="smena" id="drugaSmena" value="druga">
                            <label class="form-check-label" for="drugaSmena">Druga</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <label for="brojUcenica" class="form-label">Broj učenica:</label>
                <input id="brojUcenica" type="text" class="form-control" formControlName="brojUcenica">   
            </div>
        </div>
        
        <!-- Red 4 -->
        <div class="row mb-1">
            <div class="col-md-4">      
                <label for="nazivOdeljenja" class="form-label">Naziv odeljenja:</label>
                <input id="nazivOdeljenja" type="text" class="form-control" formControlName="nazivOdeljenja">   
            </div>

            <div class="col-md-4">
                  <div class="d-flex flex-column">
                    <label class="form-check-label mb-3">Kombinovano odeljenje:</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="kombinovanoOdeljenje" id="kombinovanoOdeljenje">
                            <label class="form-check-label" for="kombinovanoOdeljenje">Jeste</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                  <div class="d-flex flex-column">
                    <label class="form-check-label mb-3">Celodnevna nastava:</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="celodnevnaNastava" id="celodnevnaNastava">
                            <label class="form-check-label" for="celodnevnaNastava">Jeste</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Red 5 -->
        <div class="row mb-1">

            <div class="col-md-4">      
                <label for="odeljenskiStaresina" class="form-label">Odeljenski Starešina:</label>
                <input id="odeljenskiStaresina" type="text" class="form-control" formControlName="odeljenskiStaresina">        
            </div>

            <div class="col-md-4">
                <div class="d-flex flex-column">
                    <label class="form-check-label mb-3">Izdvojeno odeljenje:</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="izdvojenoOdeljenje" id="izdvojenoOdeljenje">
                            <label class="form-check-label" for="izdvojenoOdeljenje">Jeste</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label for="nazivIzdvojeneSkole" class="form-label">Naziv izdvojene škole:</label>
                <input id="nazivIzdvojeneSkole" type="text" class="form-control" formControlName="nazivIzdvojeneSkole">   
            </div> 
        </div>

        <!-- Red 6 -->
        <div class="row mb-1">

            <div class="col-md-4">
                <label for="nastavniJezik" class="form-label">Nastavni jezik:</label>
                <select id="nastavniJezik" formControlName="nastavniJezik" class="form-control"> 
                    @for(nastavniJezik of nastavniJezici; track $index) {
                        <option [value]="nastavniJezik.id">{{nastavniJezik.naziv}}</option>
                    }
                </select>             
            </div>

            <div class="col-md-4">
                <div class="d-flex flex-column">
                    <label class="form-check-label mb-3">Dvojezično odeljenje:</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" formControlName="dvoJezicnoOdeljenje" id="dvoJezicnoOdeljenje">
                            <label class="form-check-label" for="dvoJezicnoOdeljenje">Jeste</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <label for="prviStraniJezik" class="form-label">Prvi strani jezik:</label>
                <select id="prviStraniJezik" formControlName="prviStraniJezik" class="form-control"> 
                    <option [value]="0">Prvi strani jezik</option>
                    @for(straniJezik of straniJezici; track $index) {
                        <option [value]="straniJezik.id">{{straniJezik.naziv}}</option>
                    }
                </select>
            </div>
        </div>
        
        <!-- dodaj ili izmeni dugme u zavisnosti od rute -->
        <div class="row justify-content-center mt-3">
            <input type="submit" class="btn btn-lg btn-dark w-25" [value]="(routeID == null) ? 'Dodaj' : 'Izmeni'">
        </div>
    </form>
    
</div>

<!-- prikaz broja ucenika u razredu u koji se dodaje odeljejne -->
<h3 class="fs-3 text-center mt-3">Trenutni broj učenika u razredu</h3>
<app-prikaz-broj-ucenika [brojUcenika]="brojUcenika"></app-prikaz-broj-ucenika>



