<div class="row my-5">
    <div class="col-md-3">
        <select class="form-control" [(ngModel)]="filterValue">
            <option value="">Školska godina</option>
            @for(skolskaGodina of skolskeGodine; track $index) {
                <option [value]="skolskaGodina.naziv">{{skolskaGodina.naziv}}</option>
            }
        </select>
    </div>
</div>

<table class="table table-responsive mt-5">
    <thead class="table-primary">
        <tr>
            <th>Školska godina</th>
            <th>Razred</th>
            <th>Program</th>
            <th>Broj odeljenja/klasa</th>
            <th>Ukupan broj učenika</th>
            <th>Pregled/izmena</th>
            <th>Obriši</th>
            <th>Dodaj</th>
        </tr>
    </thead>
    <tbody>
        @for(razredRed of razredi; track $index) {
            @if (razredRed.razred.skolskaGodina.naziv == filterValue || filterValue == "") {
                <tr>
                <td>{{razredRed.razred.skolskaGodina.naziv}}</td>
                <td>{{razredRed.razred.razredSifrarnik.naziv}}</td>
                <td>{{razredRed.razred.program.naziv}}</td>
                <td>{{razredRed.brojOdeljenja}}</td>
                <td>{{razredRed.ukupnoUcenika}}</td>
                <td><a [routerLink]="['/izmeniRazred', razredRed.razred.id]" class="btn btn-sm btn-success">Izmeni</a></td>
                <td><a class="btn btn-sm btn-danger" (click)="obrisiRazred(razredRed.razred.id)">Obriši</a></td>
                <td><a [routerLink]="['/dodajOdeljenje', razredRed.razred.id]" class="btn btn-sm btn-info">Dodaj odeljenje</a></td>
             </tr>
            }
        }    
    </tbody>
</table>
