<div class="row my-5">
    <div class="col-md-3">
        <select class="form-control" [(ngModel)]="filterValue">
            <option value="">Školska godina</option>
            <option value="2023/2024">2023/2024</option>
            <option value="2024/2025">2024/2025</option>
            <option value="2025/2026">2025/2026</option>
        </select>
    </div>
</div>

<table class="table table-responsive mt-5">
    <thead class="table-primary">
        <tr>
            <th>Školska godina</th>
            <th>Razred</th>
            <th>Program</th>
            <th>Broj odeljenja/klasa</th>
            <th>Ukupan broj učenika</th>
            <th>Pregled/izmena</th>
            <th>Obriši</th>
        </tr>
    </thead>
    <tbody>
        @for(razred of razredi; track $index) {
            @if (razred.skolskaGodina == filterValue || filterValue == "") {
                <tr>
                <td>{{razred.skolskaGodina}}</td>
                <td>{{razred.razred}}</td>
                <td>{{razred.program}}</td>
                <td>{{razred.brojOdeljenja}}</td>
                <td>{{razred.ukupnoUcenika}}</td>
                <td><a [routerLink]="['/izmeniRazred', razred.id]" class="btn btn-sm btn-success">Izmeni</a></td>
                <td><a class="btn btn-sm btn-danger">Obriši</a></td>
             </tr>
            }
        }    
    </tbody>
</table>
