<table class="table table-responsive mt-5">
    <thead class="table-primary">
        <tr>
            <th>Naziv odeljenja</th>
            <th>Odeljenski starešina</th>
            <th>Ukupno učenika</th>
            <th>Izdvojeno odeljenje</th>
            <th>Jezik nastave</th>
            <th>Vrsta Odeljenja</th>
            <th>Pregled/izmena</th>
            <th>Obriši</th>
        </tr>
    </thead>
    <tbody>
        @for(odeljenje of odeljenja; track $index) {
            <tr>
                <td>{{odeljenje.naziv}}</td>
                <td>{{odeljenje.odeljenskiStaresina}}</td>
                <td>{{odeljenje.ukupanBrojUcenika}}</td>
                <td>{{odeljenje.izdvojenoOdeljenje ? "Da" : "Ne"}}</td>
                <td>{{odeljenje.jezikNastave.naziv}}</td>
                <td>{{odeljenje.vrstaOdeljenja.naziv}}</td>
                <td><a [routerLink]="['/izmeniOdeljenje', odeljenje.id]" class="btn btn-sm btn-success">Izmeni</a></td>
                <td><a class="btn btn-sm btn-danger">Obriši</a></td>
            </tr>
        }    
    </tbody>
</table>
