@if (routeID == null) {
    <h1 class="display-5 text-center">Unos razreda</h1>
}
@else {
    <h1 class="display-5 text-center">Izmena razreda</h1>
}


<div  class="mt-5 border border-dark rounded-3 p-3">

    <!-- Reaktivna forma za unos novog razreda ili izmenu, selectovi su stavke iz sifrarnika -->
    <form [formGroup]="dodajRazredForma" (ngSubmit)="dodajRazredSubmit()">
        <div class="row">
            <div class="col-md-4">

                <!-- Prikazuje se samo ako je ruta za izmenu -->
                @if (routeID != null) {
                    <label for="id" class="form-label">ID:</label>
                    <input id="id" type="text" class="form-control" formControlName="id">
                }

                <label for="skolskaGodina" class="form-label">Školska godina:</label>
                <select id="skolskaGodina" formControlName="skolskaGodina" class="form-control"> 
                    @for(skolskaGodina of skolskeGodine; track $index) {
                        <option [value]="skolskaGodina.id">{{skolskaGodina.naziv}}</option>
                    }
                </select>

                <label for="razred" class="form-label">Razred:</label>
                <select id="razred" formControlName="razred" class="form-control">
                    @for(razred of razredi; track $index) {
                        <option [value]="razred.id">{{razred.naziv}}</option>
                    }
                </select>
            </div>

            <div class="col-md-8">
                <label for="program" class="form-label">Naziv programa:</label>
                <select id="program" formControlName="program" class="form-control">
                    @for(program of programi; track $index) {
                        <option [value]="program.id">{{program.naziv}}</option>
                    }
                </select>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <input type="submit" class="btn btn-lg btn-dark w-25" [value]="(routeID == null) ? 'Dodaj' : 'Izmeni'">
        </div>
    </form>

</div>


