<div class="row border border-black rounded-3 my-3 gx-3 py-3">
    
    <div class="col-md-4">
        <div class="text-center border border-black rounded-3 display-6 pb-2">
            Broj učenika:
            <span class="fw-bold">{{brojUcenika}}</span>
        </div>    
    </div>
    
    <div class="col-md-4">
        <div class="text-center border border-black rounded-3 display-6 pb-2">
            Broj učenica:
            <span class="fw-bold">{{brojUcenica}}</span>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="text-center border border-black rounded-3 display-6 pb-2">
            Ukupno učenika:
            <span class="fw-bold">{{ukupnoUcenika()}}</span>
        </div>
    </div>
    
</div>
